<div class="input{{#if className}} {{className}} {{/if}}">
    <input 
        class="input__element" 
        type="{{type}}" 
        name="{{name}}" 
        title="{{title}}" 
        value="{{value}}"
    >
</div>